<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="content">
            <ul>
                <li>
                    <a href="#" class="active">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="cards">
                {% for playlist in playlists %}
                    <div class="card">
                        <img src="{{ playlist.image }}" alt="playlist image"></img>
                        <a href="{{ url_for('playlist', playlist_id=playlist.id) }}">Learn More</a>
                        <div class="info">
                            <div class="name">Name:
                                {{ playlist.name }}</div>
                            <hr>
                            <div class="tracks">
                                {% for track in playlist.tracks.values() %}
                                    <div class="track">{{ track.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </body>
</html></div></body></html></head></html></div></body></head></html>
