<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <div>
                <h1>{{ playlist.name }}</h1>
                <img src="{{ playlist.image }}" alt="">
            </div>
            {% for track in playlist.tracks.values() %}
                <div class="track">
                    {% for artist in track.artists %}
                        <a href="{{ url_for('track', playlist_id=playlist.id, track_id = track.id)}}">
                            {{ track.name }}
                            -
                            {{ artist }}
                        </a>

                    {% endfor %}
                    <br>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
